In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation
from tensorflow.keras.optimizers import Adam

In [2]:
data1 = pd.read_csv("Dataset/Train/Voltage_L1_DataSet1.csv")
out1 = pd.read_csv("Dataset/Train/OutputFor_DataSet1.csv")
data2 = pd.read_csv("Dataset/Test/Voltage_L1_DataSet2.csv")
out2 = pd.read_csv("Dataset/Test/OutputFor_DataSet2.csv")

In [3]:
print("data1",data1.shape)
print("out1",out1.shape)
print("data2",data2.shape)
print("out2",out2.shape)

data1 (11899, 128)
out1 (5999, 1)
data2 (5999, 128)
out2 (5999, 1)

In [4]:
data1.dropna(axis=0,inplace=True)

In [5]:
data1.shape

(5999, 128)

In [6]:
header =[]
for i in range(1,data1.shape[1]+1):
    header.append("Col"+str(i))

In [7]:
data1.columns = header
data2.columns = header

In [8]:
data1.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,4008.077109,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-850.916937,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,1161.338395,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-1450.758930,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4805.126485,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200

In [9]:
data2.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-4918.927835,-4668.999112,-4375.127119,-4034.564431,-3659.213495,-3247.243211,-2804.145676,-2333.584172,-1841.965323,-1332.037736,...,-4663.506099,-4918.012016,-5121.251501,-5275.969344,-5381.249941,-5433.432863,-5434.348878,-5382.165656,-5278.715575,-5123.997634
1,2920.413836,2376.612648,1773.304349,1123.306756,444.013104,-248.097664,-933.799415,-1594.783666,-2213.654301,-2776.681104,...,4871.323226,4852.098262,4814.562485,4748.647181,4645.197563,4492.310731,4274.423564,3991.537412,3633.580485,3201.469277
2,-2808.723170,-2303.372710,-1758.656432,-1180.066319,-579.504820,32.957795,643.590017,1241.404644,1815.417600,2356.471851,...,-5151.462319,-5106.602976,-5027.871511,-4914.350757,-4759.632168,-4565.548254,-4319.281944,-4020.831887,-3671.114971,-3265.552744
3,2871.892861,2532.245964,2055.275298,1435.488878,704.927781,-86.971408,-871.546088,-1584.713275,-2177.034698,-2625.625239,...,5858.221546,5590.898767,5202.730284,4759.633062,4322.945050,3943.932165,3647.312850,3432.172965,3265.553468,3098.018896
4,5534.138053,5395.898976,5186.251418,4924.421624,4631.464792,4323.859863,4009.847091,3692.171624,3363.511349,3012.878248,...,3558.510431,3879.847783,4193.860201,4506.042306,4808.154800,5085.548312,5318.082271,5487.448225,5576.250464,5574.419599

In [10]:
data = data1.append(data2, ignore_index = True)
data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,4008.077109,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-850.916937,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,1161.338395,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-1450.758930,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4805.126485,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200

In [11]:
data.shape

(11998, 128)

In [12]:
header = ["output"]
out1.columns = header
out2.columns = header

In [13]:
out2.head()

   output
0       1
1       2
2       2
3       3
4       3

In [14]:
output = out1.append(out2, ignore_index = True)
output.head()

   output
0       1
1       2
2       2
3       3
4       3

In [15]:
output.shape

(11998, 1)

In [16]:
data['output'] = output

In [17]:
data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128,output
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205,1
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102,2
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897,2
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684,3
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200,3

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
data_arr = data.to_numpy()

In [20]:
data_arr.shape

(11998, 129)

In [21]:
x_train, x_test, y_train, y_test = train_test_split(data.loc[:,data.columns != 'output'],data['output'],test_size=0.2)

x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.25, random_state=1)

In [22]:
print('x_train',x_train.shape)
print('y_train',y_train.shape)
print('x_val',x_val.shape)
print('y_val',y_val.shape)
print('x_test',x_test.shape)
print('y_test',y_test.shape)

x_train (7198, 128)
y_train (7198,)
x_val (2400, 128)
y_val (2400,)
x_test (2400, 128)
y_test (2400,)

In [23]:
x_train.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
8555,-1483.592411,-901.771057,-310.779920,282.249867,873.241400,1455.062432,2022.618581,2570.814397,3094.554875,3588.746041,...,-5702.049007,-5474.823534,-5195.631076,-4868.547357,-4490.516346,-4071.727879,-3613.199746,-3120.027702,-2597.305308,-2049.110123
10406,-1037.849287,-1887.099386,-2592.444495,-3126.632527,-3498.383794,-3749.124919,-3944.266529,-4149.219856,-4421.764754,-4795.696158,...,4343.273259,4087.081241,3888.668562,3689.165993,3420.981602,3016.525266,2450.722030,1712.671765,842.708874,-100.295732
7898,-3654.474652,-3467.876198,-3217.038954,-2838.743235,-2309.537731,-1619.226074,-804.514277,77.494563,950.327258,1744.645553,...,-6578.870655,-6663.502955,-6542.162338,-6245.440774,-5813.102633,-5320.605128,-4834.226108,-4411.064924,-4080.694045,-3841.073170
3946,-5489.684129,-5220.913539,-4889.097457,-4502.275873,-4095.224077,-3634.324163,-3142.044685,-2609.983497,-2055.202855,-1489.710876,...,-5193.662020,-5476.701512,-5696.977672,-5892.715277,-5998.144638,-6069.011112,-6074.106544,-6013.395077,-5899.070927,-5716.710532
5311,4962.991411,5149.023250,5279.797558,5335.976016,5366.367218,5397.679147,5379.260680,5319.398351,5145.339059,4919.707307,...,788.332213,1297.616956,1831.766962,2306.055783,2795.079286,3283.181968,3652.482117,4052.173377,4414.106290,4625.003253

In [24]:
x_test.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
11055,-5294.550575,-5462.703940,-5550.871401,-5550.871337,-5461.795049,-5292.732955,-5060.045587,-4783.728822,-4485.598335,-4176.560175,...,-1985.114986,-2444.127899,-2850.422628,-3213.088249,-3547.576447,-3865.703397,-4177.469175,-4487.415721,-4787.364570,-5062.772750
5877,-3347.950368,-2815.806657,-2255.042594,-1675.383759,-1080.313170,-471.680097,141.586287,756.488995,1355.325632,1944.447151,...,-6242.307884,-6193.004860,-6097.523902,-5934.273305,-5715.303991,-5434.737775,-5115.736280,-4735.161724,-4316.664929,-3854.836182
10497,3027.839450,2528.222136,1998.170994,1450.719797,881.682850,325.737766,-254.741859,-821.498689,-1383.778189,-1949.559664,...,5852.483776,5809.074826,5685.816830,5523.457168,5308.779414,5036.962112,4724.959009,4369.229042,3961.962263,3505.888998
6026,4971.955789,4515.786840,4119.866502,3810.015843,3585.278658,3411.227126,3236.218057,3000.961168,2646.163383,2149.828782,...,4191.590777,4602.813147,5064.720029,5520.888933,5905.333189,6154.935154,6233.353949,6117.637845,5838.390126,5431.949863
11505,-5141.729786,-4940.571274,-4699.908791,-4388.303898,-4053.714734,-3669.665743,-3265.946110,-2809.843232,-2350.218219,-1853.109504,...,-4369.891684,-4669.737873,-4921.690706,-5122.512523,-5282.030587,-5401.481576,-5450.525567,-5458.893437,-3037.137325,-4826.184906

In [25]:
y_train.head()

8555     1
10406    3
7898     3
3946     5
5311     4
Name: output, dtype: int64

In [26]:
y_test.head()

11055    3
5877     5
10497    5
6026     3
11505    5
Name: output, dtype: int64

In [27]:
y_train_hot = pd.get_dummies(y_train)
y_test_hot = pd.get_dummies(y_test)
y_val_hot = pd.get_dummies(y_val)

In [28]:
y_train_arr = y_train_hot.to_numpy()
y_test_arr = y_test_hot.to_numpy()
y_val_arr = y_val_hot.to_numpy()
print("y_train:",y_train_arr.shape)
print("y_test:",y_test_arr.shape)
print("y_val:",y_val_arr.shape)

y_train: (7198, 5)
y_test: (2400, 5)
y_val: (2400, 5)

In [29]:
transform = StandardScaler()
x_train_tr = transform.fit_transform(x_train)
x_test_tr = transform.fit_transform(x_test)
x_val_tr = transform.fit_transform(x_val)

In [30]:
print("Training",x_train_tr.shape)
print(y_train_arr.shape)
print("Validation",x_val_tr.shape)
print(y_val_arr.shape)
print("Test",x_test_tr.shape)
print(y_test_arr.shape)

Training (7198, 128)
(7198, 5)
Validation (2400, 128)
(2400, 5)
Test (2400, 128)
(2400, 5)

In [36]:
model = Sequential()

model.add(Dense(128, input_shape=(128,), activation = 'relu'))

model.add(Dense(256, activation = 'relu'))
model.add(Dropout(0.6))

model.add(Dense(128, activation = 'relu'))
model.add(Dropout(0.5))

model.add(Dense(5, activation = 'softmax'))

model.compile(loss='categorical_crossentropy', metrics=['accuracy'], optimizer='adam')

In [37]:
history = model.fit(x_train_tr, y_train_arr, batch_size=64, epochs=30, validation_data=(x_val_tr, y_val_arr))

Epoch 1/30
113/113 [==============================] - 1s 13ms/step - loss: 1.3701 - accuracy: 0.3707 - val_loss: 1.1260 - val_accuracy: 0.4600
Epoch 2/30
113/113 [==============================] - 1s 12ms/step - loss: 1.1770 - accuracy: 0.4159 - val_loss: 1.0995 - val_accuracy: 0.4996
Epoch 3/30
113/113 [==============================] - 1s 11ms/step - loss: 1.1395 - accuracy: 0.4544 - val_loss: 1.0643 - val_accuracy: 0.5571
Epoch 4/30
113/113 [==============================] - 1s 11ms/step - loss: 1.0846 - accuracy: 0.5054 - val_loss: 0.9462 - val_accuracy: 0.5929
Epoch 5/30
113/113 [==============================] - 1s 11ms/step - loss: 0.9538 - accuracy: 0.5652 - val_loss: 0.7560 - val_accuracy: 0.7021
Epoch 6/30
113/113 [==============================] - 2s 14ms/step - loss: 0.7698 - accuracy: 0.6575 - val_loss: 0.5480 - val_accuracy: 0.7588
Epoch 7/30
113/113 [==============================] - 2s 14ms/step - loss: 0.6258 - accuracy: 0.7163 - val_loss: 0.5941 - val_accuracy: 0.7104
Epoch 8/30
113/113 [==============================] - 1s 12ms/step - loss: 0.4973 - accuracy: 0.7631 - val_loss: 0.3913 - val_accuracy: 0.8087
Epoch 9/30
113/113 [==============================] - 1s 13ms/step - loss: 0.3905 - accuracy: 0.8030 - val_loss: 0.3441 - val_accuracy: 0.8238
Epoch 10/30
113/113 [==============================] - 1s 12ms/step - loss: 0.4147 - accuracy: 0.7931 - val_loss: 0.2888 - val_accuracy: 0.8329
Epoch 11/30
113/113 [==============================] - 2s 15ms/step - loss: 0.3061 - accuracy: 0.8241 - val_loss: 0.2809 - val_accuracy: 0.8333
Epoch 12/30
113/113 [==============================] - 1s 12ms/step - loss: 0.3669 - accuracy: 0.8072 - val_loss: 0.3245 - val_accuracy: 0.8221
Epoch 13/30
113/113 [==============================] - 2s 15ms/step - loss: 0.3420 - accuracy: 0.8147 - val_loss: 0.6509 - val_accuracy: 0.7308
Epoch 14/30
113/113 [==============================] - 2s 16ms/step - loss: 0.3935 - accuracy: 0.7997 - val_loss: 0.3480 - val_accuracy: 0.8121
Epoch 15/30
113/113 [==============================] - 1s 13ms/step - loss: 0.3187 - accuracy: 0.8233 - val_loss: 0.2728 - val_accuracy: 0.8333
Epoch 16/30
113/113 [==============================] - 2s 21ms/step - loss: 0.3589 - accuracy: 0.8140 - val_loss: 0.2805 - val_accuracy: 0.8338
Epoch 17/30
113/113 [==============================] - 2s 18ms/step - loss: 0.3228 - accuracy: 0.8194 - val_loss: 0.2646 - val_accuracy: 0.8371
Epoch 18/30
113/113 [==============================] - 2s 16ms/step - loss: 0.3087 - accuracy: 0.8308 - val_loss: 0.2899 - val_accuracy: 0.8438
Epoch 19/30
113/113 [==============================] - 2s 16ms/step - loss: 0.2712 - accuracy: 0.8482 - val_loss: 0.2326 - val_accuracy: 0.8800
Epoch 20/30
113/113 [==============================] - 1s 13ms/step - loss: 0.2933 - accuracy: 0.8472 - val_loss: 0.2259 - val_accuracy: 0.8854
Epoch 21/30
113/113 [==============================] - 1s 12ms/step - loss: 0.2279 - accuracy: 0.8880 - val_loss: 0.2770 - val_accuracy: 0.8988
Epoch 22/30
113/113 [==============================] - 2s 14ms/step - loss: 0.2641 - accuracy: 0.8812 - val_loss: 0.1478 - val_accuracy: 0.9542
Epoch 23/30
113/113 [==============================] - 2s 15ms/step - loss: 0.2108 - accuracy: 0.9133 - val_loss: 0.1500 - val_accuracy: 0.9542
Epoch 24/30
113/113 [==============================] - 2s 15ms/step - loss: 0.1634 - accuracy: 0.9344 - val_loss: 0.2402 - val_accuracy: 0.8950
Epoch 25/30
113/113 [==============================] - 1s 13ms/step - loss: 0.1144 - accuracy: 0.9571 - val_loss: 0.0390 - val_accuracy: 0.9887
Epoch 26/30
113/113 [==============================] - 2s 16ms/step - loss: 0.0985 - accuracy: 0.9660 - val_loss: 0.2749 - val_accuracy: 0.9013
Epoch 27/30
113/113 [==============================] - 1s 12ms/step - loss: 0.1359 - accuracy: 0.9460 - val_loss: 0.0659 - val_accuracy: 0.9808
Epoch 28/30
113/113 [==============================] - 2s 17ms/step - loss: 0.0824 - accuracy: 0.9735 - val_loss: 0.0214 - val_accuracy: 0.9937
Epoch 29/30
113/113 [==============================] - 1s 12ms/step - loss: 0.0552 - accuracy: 0.9814 - val_loss: 0.0305 - val_accuracy: 0.9921
Epoch 30/30
113/113 [==============================] - 2s 14ms/step - loss: 0.1393 - accuracy: 0.9523 - val_loss: 0.0589 - val_accuracy: 0.9854

In [38]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_5 (Dense)              (None, 256)               33024
_________________________________________________________________
dropout_2 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_6 (Dense)              (None, 128)               32896
_________________________________________________________________
dropout_3 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_7 (Dense)              (None, 5)                 645
=================================================================
Total params: 83,077
Trainable params: 83,077
Non-trainable params: 0
_________________________________________________________________

In [39]:
pred_acc = model.evaluate(x_test_tr,y_test_arr)
print("Test accuracy is {}".format(pred_acc))

75/75 [==============================] - 0s 5ms/step - loss: 0.0723 - accuracy: 0.9821
Test accuracy is [0.07232791185379028, 0.9820833206176758]