In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("/home/jaideep/Amrita_Honeywell_Hackathon/Dataset/Train/Voltage_L1_DataSet1.csv")
out1 = pd.read_csv("/home/jaideep/Amrita_Honeywell_Hackathon/Dataset/Train/OutputFor_DataSet1.csv")
data2 = pd.read_csv("/home/jaideep/Amrita_Honeywell_Hackathon/Dataset/Test/Voltage_L1_DataSet2.csv")
out2 = pd.read_csv("/home/jaideep/Amrita_Honeywell_Hackathon/Dataset/Test/OutputFor_DataSet2.csv")

In [3]:
print("data1",data1.shape)
print("out1",out1.shape)
print("data2",data2.shape)
print("out2",out2.shape)

data1 (11899, 128)
out1 (5999, 1)
data2 (5999, 128)
out2 (5999, 1)

In [4]:
data1.dropna(axis=0,inplace=True)

In [5]:
data1.shape

(5999, 128)

In [6]:
header =[]
for i in range(1,data1.shape[1]+1):
    header.append("Col"+str(i))

In [7]:
data1.columns = header
data2.columns = header

In [8]:
data1.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,4008.077109,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-850.916937,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,1161.338395,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-1450.758930,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4805.126485,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200

In [9]:
data2.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-4918.927835,-4668.999112,-4375.127119,-4034.564431,-3659.213495,-3247.243211,-2804.145676,-2333.584172,-1841.965323,-1332.037736,...,-4663.506099,-4918.012016,-5121.251501,-5275.969344,-5381.249941,-5433.432863,-5434.348878,-5382.165656,-5278.715575,-5123.997634
1,2920.413836,2376.612648,1773.304349,1123.306756,444.013104,-248.097664,-933.799415,-1594.783666,-2213.654301,-2776.681104,...,4871.323226,4852.098262,4814.562485,4748.647181,4645.197563,4492.310731,4274.423564,3991.537412,3633.580485,3201.469277
2,-2808.723170,-2303.372710,-1758.656432,-1180.066319,-579.504820,32.957795,643.590017,1241.404644,1815.417600,2356.471851,...,-5151.462319,-5106.602976,-5027.871511,-4914.350757,-4759.632168,-4565.548254,-4319.281944,-4020.831887,-3671.114971,-3265.552744
3,2871.892861,2532.245964,2055.275298,1435.488878,704.927781,-86.971408,-871.546088,-1584.713275,-2177.034698,-2625.625239,...,5858.221546,5590.898767,5202.730284,4759.633062,4322.945050,3943.932165,3647.312850,3432.172965,3265.553468,3098.018896
4,5534.138053,5395.898976,5186.251418,4924.421624,4631.464792,4323.859863,4009.847091,3692.171624,3363.511349,3012.878248,...,3558.510431,3879.847783,4193.860201,4506.042306,4808.154800,5085.548312,5318.082271,5487.448225,5576.250464,5574.419599

In [10]:
data = data1.append(data2, ignore_index = True)
data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,4008.077109,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-850.916937,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,1161.338395,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-1450.758930,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4805.126485,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200

In [11]:
data.shape

(11998, 128)

In [12]:
header = ["output"]
out1.columns = header
out2.columns = header

In [13]:
out1.head()

   output
0       1
1       2
2       2
3       3
4       3

In [14]:
out2.head()

   output
0       1
1       2
2       2
3       3
4       3

In [15]:
output = out1.append(out2, ignore_index = True)
output.head()

   output
0       1
1       2
2       2
3       3
4       3

In [16]:
output.shape

(11998, 1)

In [17]:
data['output'] = output

In [23]:
data.head(20)

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128,output
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205,1
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102,2
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897,2
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684,3
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200,3
5,-4594.223200,-4926.555558,-5233.324082,-5483.486096,-5643.261375,-5695.302944,-5630.480201,-5457.922577,-5201.369047,-4890.948453,...,-1329.329215,-1884.435030,-2359.195282,-2757.264233,-3090.509273,-3384.496268,-3663.874920,-3956.035149,-4267.368825,3
6,5332.842238,5273.497333,5100.940030,4877.255061,4615.223612,4295.672600,3995.294738,3606.356433,3191.853852,2763.656223,...,4017.207639,4376.016337,4585.094217,4900.992449,5100.027290,5220.542981,5275.322883,5319.147210,5331.929071,4
7,4020.859066,4325.801763,4639.874267,4920.166132,5104.592423,5234.238154,5289.930882,5320.060271,5351.102427,5332.842477,...,-1.825017,224.598463,781.529918,1286.419463,1815.960852,2286.156122,2770.959735,3254.850792,3620.964238,4
8,-4496.823113,-4168.402246,-3796.432595,-3414.018496,-2951.505939,-2487.042658,-2006.970883,-1491.608702,-976.449256,-454.539884,...,-5243.943774,-5374.791777,-5448.008769,-5470.253757,-5419.366223,-5332.988391,-5218.444154,-5022.506278,-4786.895330,5
9,-4066.622510,-4127.318967,-4150.225510,-3787.101159,-3380.152105,-2941.449757,-2475.703594,-1980.430440,-1471.240033,-948.507923,...,-5097.487906,-5274.432337,-5276.266561,-5434.461385,-5464.058586,-5435.849212,-5344.646009,-5201.335424,-5013.559614,5
10,-5399.348121,-5453.765851,-5460.952053,-5417.991781,-5304.398563,-5151.158706,-4949.631377,-4708.527982,-4396.351476,-4061.148017,...,-2797.450366,-3245.701950,-3646.064258,-4034.050876,-4377.904407,-4678.301213,-4930.716429,-5131.906769,-5291.717275,5
11,-1759.049900,-2360.285055,-2939.736711,-3489.780850,-4007.147829,-4486.394224,-4920.982789,-5307.647107,-5645.297363,-5930.666417,...,3690.192814,3154.309374,2586.838402,1994.316473,1381.100274,756.991532,124.168623,-509.743218,-1139.297422,1
12,312.599046,-321.311960,-951.955782,-1574.975988,-2181.656959,-2767.644468,-3327.490461,-3854.660938,-4344.798497,-4793.546806,...,5185.657589,4781.566748,4333.907229,3843.769634,3316.599841,2757.842801,2172.944474,1565.173313,943.243475,1
13,4565.905637,4942.767619,5234.671986,5449.242758,5599.552332,5698.668498,5755.306891,5786.893464,5801.053204,5806.499222,...,-1806.974501,-1015.129200,-197.144094,625.198321,1431.203245,2197.996556,2908.151119,3546.419072,4100.819866,2
14,-3950.510300,-4423.220441,-4831.668478,-5178.033146,-5460.133998,-5689.954732,-5867.493270,-5994.929171,-6084.242960,-6133.256693,...,2073.827390,1385.456646,672.033540,-56.637768,-783.130250,-1494.374594,-2177.300475,-2821.015071,-3413.536644,2
15,3726.136269,3922.191876,4125.871446,4398.169555,4772.853305,5240.117390,5767.288036,6286.833983,6724.690589,7010.059730,...,-2467.026689,-1730.730334,-861.553062,80.600806,1014.041549,1862.524487,2568.322269,3103.116695,3474.532724,3
16,-2377.712677,-1761.227789,-1085.926771,-372.504675,356.167460,1069.589622,1744.890792,2360.285901,2910.329595,3397.199817,...,-6063.548677,-5732.432873,-5376.266460,-5005.939982,-4630.167095,-4247.859629,-3848.125650,-3412.447973,-2925.577271,3
17,-4715.125211,-5087.629409,-5480.828715,-5877.296355,-6243.265225,-6541.705245,-6732.314124,-6794.398323,-6717.065272,-6511.207368,...,-63.173259,-846.303970,-1585.867757,-2248.098167,-2814.478980,-3289.368003,-3686.924786,-4037.645920,-4370.939075,3
18,6346.739510,6383.772643,6361.988842,6291.190516,6085.333316,5818.479951,5505.881229,5124.662886,4766.317926,4302.320886,...,3882.980334,4319.748056,4792.458337,5220.512151,5469.938415,5846.799905,6084.243825,6228.017235,6293.369460,4
19,3887.337133,4320.837257,4796.815584,5160.606075,5535.289826,5869.672117,6089.689765,6244.355377,6310.796478,6346.739957,...,-57.727283,-38.121258,-2.178184,267.942351,932.351922,1534.676783,2166.409304,2727.344410,3305.707494,4

In [20]:
data_arr = data.to_numpy

In [21]:
plt.plot([i for i in range(1,129)], data_arr[0][:])

TypeError: 'method' object is not subscriptable

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
data_arr = data.to_numpy()

In [ ]:
data_arr.shape

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(data.loc[:,data.columns != 'output'],data['output'],test_size=0.2)

In [ ]:
print('x_train',x_train.shape)
print('x_test',x_test.shape)
print('y_train',y_train.shape)
print('y_test',y_test.shape)

In [ ]:
x_train.head()

In [ ]:
x_test.head()

In [ ]:
y_train.head()

In [ ]:
y_test.head()