In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("/home/jaideep/Amrita_Honeywell_Hackathon/Dataset/Train/Voltage_L1_DataSet1.csv")
out1 = pd.read_csv("/home/jaideep/Amrita_Honeywell_Hackathon/Dataset/Train/OutputFor_DataSet1.csv")
data2 = pd.read_csv("/home/jaideep/Amrita_Honeywell_Hackathon/Dataset/Test/Voltage_L1_DataSet2.csv")
out2 = pd.read_csv("/home/jaideep/Amrita_Honeywell_Hackathon/Dataset/Test/OutputFor_DataSet2.csv")

In [3]:
print("data1",data1.shape)
print("out1",out1.shape)
print("data2",data2.shape)
print("out2",out2.shape)

data1 (11899, 128)
out1 (5999, 1)
data2 (5999, 128)
out2 (5999, 1)

In [4]:
data1.dropna(axis=0,inplace=True)

In [5]:
data1.shape

(5999, 128)

In [6]:
header =[]
for i in range(1,data1.shape[1]+1):
    header.append("Col"+str(i))

In [7]:
data1.columns = header
data2.columns = header

In [8]:
data1.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,4008.077109,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-850.916937,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,1161.338395,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-1450.758930,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4805.126485,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200

In [9]:
data2.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-4918.927835,-4668.999112,-4375.127119,-4034.564431,-3659.213495,-3247.243211,-2804.145676,-2333.584172,-1841.965323,-1332.037736,...,-4663.506099,-4918.012016,-5121.251501,-5275.969344,-5381.249941,-5433.432863,-5434.348878,-5382.165656,-5278.715575,-5123.997634
1,2920.413836,2376.612648,1773.304349,1123.306756,444.013104,-248.097664,-933.799415,-1594.783666,-2213.654301,-2776.681104,...,4871.323226,4852.098262,4814.562485,4748.647181,4645.197563,4492.310731,4274.423564,3991.537412,3633.580485,3201.469277
2,-2808.723170,-2303.372710,-1758.656432,-1180.066319,-579.504820,32.957795,643.590017,1241.404644,1815.417600,2356.471851,...,-5151.462319,-5106.602976,-5027.871511,-4914.350757,-4759.632168,-4565.548254,-4319.281944,-4020.831887,-3671.114971,-3265.552744
3,2871.892861,2532.245964,2055.275298,1435.488878,704.927781,-86.971408,-871.546088,-1584.713275,-2177.034698,-2625.625239,...,5858.221546,5590.898767,5202.730284,4759.633062,4322.945050,3943.932165,3647.312850,3432.172965,3265.553468,3098.018896
4,5534.138053,5395.898976,5186.251418,4924.421624,4631.464792,4323.859863,4009.847091,3692.171624,3363.511349,3012.878248,...,3558.510431,3879.847783,4193.860201,4506.042306,4808.154800,5085.548312,5318.082271,5487.448225,5576.250464,5574.419599

In [10]:
data = data1.append(data2, ignore_index = True)
data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,4008.077109,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-850.916937,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,1161.338395,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-1450.758930,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4805.126485,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200

In [11]:
data.shape

(11998, 128)

In [12]:
header = ["output"]
out1.columns = header
out2.columns = header

In [13]:
out1.head()

   output
0       1
1       2
2       2
3       3
4       3

In [14]:
out2.head()

   output
0       1
1       2
2       2
3       3
4       3

In [15]:
output = out1.append(out2, ignore_index = True)
output.head()

   output
0       1
1       2
2       2
3       3
4       3

In [16]:
output.shape

(11998, 1)

In [17]:
data['output'] = output

In [18]:
data.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128,output
0,-797.962914,-1320.199586,-1828.741445,-2319.935857,-2789.218649,-3231.111864,-3641.962908,-4018.119193,-4355.929647,-4650.829055,...,3632.834002,3221.982426,2780.090228,2311.720161,1821.438861,1311.983509,790.659456,262.031836,-269.335205,1
1,4387.885674,4567.747164,4693.741356,4776.824895,4824.300958,4850.777519,4862.646175,4867.211521,4866.298624,4858.081691,...,-165.252287,524.062959,1199.684611,1842.437384,2437.714882,2972.733259,3437.450839,3828.215741,4143.201102,2
2,-4050.074299,-4340.408587,-4576.875995,-4769.518913,-4918.338175,-5025.159834,-5100.026323,-5141.111052,-5153.892968,-5137.458861,...,563.322919,-47.475988,-656.447463,-1252.637741,-1825.089177,-2364.673580,-2861.346591,-3309.630078,-3706.785897,2
3,3458.450134,3686.700705,4000.773209,4392.451258,4834.343975,5269.845213,5636.871457,5876.078192,5950.944421,5841.384319,...,-722.183210,67.562203,850.005032,1561.232918,2152.858410,2601.141643,2912.474970,3123.378574,3286.805684,3
4,-910.262100,-312.245917,298.552078,896.568469,1462.629392,1978.474763,2439.540162,2847.652177,3212.852886,3547.924521,...,-4506.574476,-4196.154858,-3881.168803,-3560.705563,-3225.633496,-2860.433401,-2452.321914,-1991.255895,-1474.497200,3

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
data_arr = data.to_numpy()

In [21]:
data_arr.shape

(11998, 129)

In [22]:
x_train, x_test, y_train, y_test = train_test_split(data.loc[:,data.columns != 'output'],data['output'],test_size=0.2)

In [23]:
print('x_train',x_train.shape)
print('x_test',x_test.shape)
print('y_train',y_train.shape)
print('y_test',y_test.shape)

x_train (9598, 128)
x_test (2400, 128)
y_train (9598,)
y_test (2400,)

In [24]:
x_train.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
10861,-3438.676899,-3850.141975,-4205.671088,-4507.159891,-4752.712491,-4952.756237,-5107.293046,-5218.217873,-5295.960861,-5338.623896,...,2369.246403,1805.139915,1205.955205,584.964366,-49.299072,-681.666780,-1300.761595,-1895.206782,-2455.519963,-2971.274341
108,5435.368566,5488.229711,5488.229396,5436.295600,5330.575312,5173.847830,4967.042728,4712.940259,4415.251526,4071.193902,...,2341.632316,2818.305365,3267.157097,3685.404689,4067.484362,4409.687072,4709.231424,4966.114748,5171.993160,5328.720351
147,3636.927099,3450.339392,3199.517525,2821.243961,2292.070111,1601.798208,788.154382,-93.802956,-966.583954,-1761.874405,...,6562.170587,6645.777703,6522.405843,6224.681339,5791.350610,5298.881151,4812.530778,4390.414939,4061.082635,3821.475643
11570,-3145.397693,-3519.379841,-3771.626005,-3967.938882,-4174.122769,-4448.303154,-4824.478649,-5294.972430,-5825.785815,-6347.826112,...,3711.307444,3441.513953,3034.629964,2465.431444,1722.950351,847.766745,-100.897965,-1039.692182,-1895.134837,-2605.811126
208,1038.148519,343.575364,-365.842776,-1060.415888,-1716.813502,-2317.009609,-2851.459623,-3325.465442,-3748.571322,-4138.805447,...,5562.945287,5215.129088,4854.586849,4489.803831,4117.597751,3728.424601,3304.258620,2830.251875,2294.741944,1694.546030

In [25]:
x_test.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col119,Col120,Col121,Col122,Col123,Col124,Col125,Col126,Col127,Col128
1472,1858.385093,2388.656550,2921.732197,3452.840343,3898.112048,4331.384959,4725.442034,5063.776805,5388.409667,5610.567822,...,-3726.062144,-3277.164332,-2749.613340,-2225.617157,-1656.133957,-1083.983217,-489.053560,86.421147,676.169601,1286.923521
2525,2953.438959,3313.879099,3630.986437,3933.322743,4247.476212,4584.280493,4939.796295,5298.266461,5629.162197,5898.998941,...,-2921.924624,-2482.699769,-1957.797701,-1348.200985,-672.623144,39.392670,748.454560,1416.154606,2014.917388,2528.001636
51,-4273.104831,-3899.805367,-3607.657936,-3395.761016,-3231.653982,-3066.644210,-2844.829453,-2510.301955,-2042.325952,-1431.881776,...,-4352.453920,-4787.969586,-5218.075774,-5580.554034,-5817.699081,-5892.539277,-5785.238185,-5522.846073,-5140.530167,-4705.014482
1465,5099.073182,4930.276386,4692.152677,4382.691434,3989.836781,3515.597638,2960.978837,2335.023746,1649.788822,920.345412,...,5257.823189,5309.064501,5338.202152,5351.264069,5356.287908,5354.278631,5346.239708,5326.145447,5283.946435,5211.604289
10863,-2069.652957,-1533.040511,-945.232489,-324.241863,310.021477,931.012866,1518.820757,2054.484801,2533.263318,2957.054423,...,-5519.706660,-5277.947254,-4989.731403,-4679.710115,-4357.363334,-4030.276589,-3697.501571,-3349.557701,-2970.326058,-2546.535611

In [26]:
y_train.head()

10861    2
108      1
147      3
11570    3
208      3
Name: output, dtype: int64

In [27]:
y_test.head()

1472     5
2525     3
51       3
1465     2
10863    3
Name: output, dtype: int64